<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="948bbd">  <td>22/03/20 02:05:17</td>   <td>0</td> <td title="&gt;&gt;PublicLibrary.clearScreenshots()[pri:0, instance:CodePart.RedBusTC@531c311e]">&gt;&gt;clearScreenshots</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2023026843</td>   <td></td> </tr>
<tr bgcolor="948bbd">  <td>22/03/20 02:05:17</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PublicLibrary.openBrowserNew(java.lang.String)[pri:0, instance:CodePart.RedBusTC@531c311e]">&gt;&gt;openBrowserNew</td> 
<td>&nbsp;</td>  <td>main@2023026843</td>   <td></td> </tr>
<tr bgcolor="62f5b9">  <td>22/03/20 02:05:19</td>   <td>1874</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RedBusTC.LoginCheck2(java.util.Map)[pri:1, instance:CodePart.RedBusTC@531c311e]">LoginCheck2</td> 
  <td>main@2023026843</td>   <td></td> </tr>
<tr bgcolor="948bbd">  <td>22/03/20 02:05:46</td>   <td>29579</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PublicLibrary.closeBroswer(org.testng.ITestResult)[pri:0, instance:CodePart.RedBusTC@531c311e]">&lt;&lt;closeBroswer</td> 
<td>&nbsp;</td>  <td>main@2023026843</td>   <td></td> </tr>
</table>
